{% extends 'inventory/base.html' %} {% block content %}

<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>

<div class="bg-white rounded-lg shadow-md p-8 max-w-lg mx-auto">
  <div class="bg-gray-200 p-4">
    <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md">
      <h1 class="text-2xl font-semibold mb-12">Add Menu Item</h1>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
              
            
          <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
        >
          Submit
        </button>
      </form>

   
    </form>
  </div>
</div>
</div>

{% endblock %}
